:root {
    --nav-color: #000000;
    --nav-hover-color: #8422c5;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #343136;
    --nav-dropdown-hover-color: #8422c5;
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
